<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1f0d02b4-a809-4b3b-b868-b4b6f6713cf4/resourceGroups/githubactionscicddemo/providers/Microsoft.Web/sites/api-sever</ResourceId>
    <ResourceGroup>githubactionscicddemo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://api-sever.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a5468f7b-cf61-49ba-a17f-76d36be2c978</ProjectGuid>
    <PublishUrl>https://api-sever.scm.azurewebsites.net/</PublishUrl>
    <UserName>$api-sever</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>